RESUME_PARSER.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a6fdd077-5e86-4d4f-bebf-7178962fb86e",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        0
      ],
      "id": "774b6eea-4358-4dab-aecc-7d43dc126cce",
      "name": "Webhook",
      "webhookId": "a6fdd077-5e86-4d4f-bebf-7178962fb86e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is all the data I received: {{ JSON.stringify($json) }}\n\nExtract educational details from any resume content you can find above.",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are a strict information extractor for educational documents. Extract ONLY these details from any resume or document:\n\n1. CGPA/CPI (numeric value only, e.g., 3.8, 8.5)\n2. Degree (full degree name, e.g., Bachelor of Engineering, Master of Science)\n3. Year of Education (graduation year, e.g., 2022, 2023)\n4. IELTS Score (overall band score if mentioned, e.g., 7.5)\n5. TOEFL Score (total score if mentioned, e.g., 95)\n\nOutput must be valid JSON in this exact format:\n{\n  \"cgpa\": \"value or Not Found\",\n  \"degree\": \"value or Not Found\", \n  \"year_of_education\": \"value or Not Found\",\n  \"ielts_score\": \"value or Not Found\",\n  \"toefl_score\": \"value or Not Found\"\n}\n\nBe precise. Do not guess or infer values not explicitly stated."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        320,
        0
      ],
      "id": "bbaf2aa6-8f08-4350-82ff-63eae307256b",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json[\"sessionId\"]}}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        400,
        704
      ],
      "id": "183370b3-e974-4a75-8eaa-0b8c2ef2f112",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns the response data in JSON",
        "method": "POST",
        "url": "http://localhost:5678/webhook-test/a6fdd077-5e86-4d4f-bebf-7178962fb86e",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        640,
        736
      ],
      "id": "4cf31494-9f7f-4824-ac4f-37110a7bde50",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "enableResponseOutput": true,
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"extracted_data\": {\n    \"cgpa\": \"{{ $json.cgpa }}\",\n    \"degree\": \"{{ $json.degree }}\",\n    \"year_of_education\": \"{{ $json.year_of_education }}\",\n    \"ielts_score\": \"{{ $json.ielts_score }}\",\n    \"toefl_score\": \"{{ $json.toefl_score }}\"\n  },\n  \"session_id\": \"{{ $('Webhook').first().json.body.sessionId }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1424,
        16
      ],
      "id": "4759e477-1233-422a-bf25-8db434e4f7ad",
      "name": "Return WebHook1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"cgpa\": {\n      \"type\": \"string\",\n      \"description\": \"CGPA value or 'Not Found'\"\n    },\n    \"degree\": {\n      \"type\": \"string\", \n      \"description\": \"Full degree name or 'Not Found'\"\n    },\n    \"year_of_education\": {\n      \"type\": \"string\",\n      \"description\": \"Graduation year or 'Not Found'\"\n    },\n    \"ielts_score\": {\n      \"type\": \"string\",\n      \"description\": \"IELTS band score or 'Not Found'\"\n    },\n    \"toefl_score\": {\n      \"type\": \"string\", \n      \"description\": \"TOEFL total score or 'Not Found'\"\n    }\n  },\n  \"required\": [\"cgpa\", \"degree\", \"year_of_education\", \"ielts_score\", \"toefl_score\"],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        768,
        464
      ],
      "id": "8ddc3a30-ba17-4734-b8eb-c803a77c4b13",
      "name": "Structured Output Parser",
      "notesInFlow": true,
      "notes": "Extract educational information and return valid JSON with these fields: cgpa, degree, year_of_education, ielts_score, toefl_score. Use \"Not Found\" for missing information."
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        304
      ],
      "id": "2c457f92-09fa-4062-ad17-e83014822a8b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IKUKKV5t9VcsoCa3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        400
      ],
      "id": "f2b6bef2-783f-4466-be5d-ef52ce2021c1",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "IKUKKV5t9VcsoCa3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1040,
        672
      ],
      "id": "81941875-e26c-46e1-9001-2378b2ba4046",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "IKUKKV5t9VcsoCa3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/api/fuzzy-score",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "={\n  \"cgpa\": {{ $json.cgpa }},\n  \"degree\": {{ $json.degree }},\n  \"year_of_education\": {{ $json.year_of_education }},\n  \"ielts_score\": {{ $json.ielts_score }}\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1728,
        48
      ],
      "id": "d196bf46-a5cb-4da2-9af1-b8ca12e5e7c3",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Return WebHook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Return WebHook1": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8cdd6dde-dc30-4a44-b207-1e51e0e26313",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e63d83708960837358acc4dfcabc205e6cdce5284cdc1f703f1a0e498bfdf2e"
  },
  "id": "FiAZpQi6wb3iercE",
  "tags": []
}